[Desktop Entry]
Version=1.0
Name=Emacs
GenericName=Text Editor
Comment=View and edit files and everything else
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=/home/renan/bin/editor %F
Icon=/usr/share/icons/hicolor/512x512/apps/emacs25.png
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
